﻿@BaseFontSize: 16px;
@BaseColor: #000;
@BaseFontFamily: "Microsoft YaHei";


body {
    background: url(../Img/background.png);
    font-size: @BaseFontSize;
}

#Submit {
    position: relative;
    left: 30%;
}

#CreateMajorInput {
    margin-top: 200px;
    position: relative;
    left: 30%;
}

#CreateButton {
    margin-top: 50px;
    position: relative;
    left: 40%;
}

.majorpager {
    margin-left: 20px;
}

#majorpagerdiv {
    position: relative;
    margin-left: 25%;
    margin-top: 25px;
}

#majorlistbtn {
    position: relative;
    margin-left: 35%;
    margin-top: 30px;
}

.majortable {
    /*margin-top:-20px;*/
}

.majortable th, tr, td {
    text-align: center;
}

#MajorSelectAll {
    /*margin-left: 30px;*/
}

#AdminRegSubmit {
    position: relative;
    margin-left: 25%;
}

.adminform {
    position: relative;
    margin-left: 25%;
}

table {
    width: 100%;
}

#AdminRegSubmit {
    position: relative;
    margin-left: 25%;
}

.databackup {
    width: 500px;
    margin-left: 30%;
    position: relative;
    margin-top: 100px;
}

#AdminLogSubmit {
    position: relative;
    margin-left: 23%;
}

#AdminLogInForm {
    margin-left: 25%;
    margin-top: 50px;
}

.AdminLogbtn {
    margin-right: 10px;
    margin-top: 20px;
}

.listbtn {
    font-size: 20px;
}

.adminOperation {
    margin-top: 5px;
}

.navliactive {
    background: #808080;
}


