﻿.nav {
  /*background: #0099cc;*/
  color: #ffffff;
}
#largepic {
  width: 100%;
}
#textover {
  position: absolute;
  left: 300px;
  top: 230px;
  color: #fff;
  font-weight: bold;
  font-size: 120px;
}
#defpic {
  height: 750px;
  width: 100%;
}
/*# sourceMappingURL=Default.css.map */